.part {
  position: relative;
  display: block;
  min-height: 800px;
  width: 50%;
  overflow: hidden;
  float: left;
}

.logo {
  position: absolute;
  display: block;
  width: 608px;
  height: 430px;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
}

@media screen and (max-width: 800px) {
  .logo {
    top: 10px;
  }
  .part {
    width: 100%;
    min-height: 100px;
  }
  .fold_home {
    background:rgba(212,181,142,0.5);
  }
}
